<div class="banner" style="text-align: center;">
  
     <img src="../../assets/images/about.jpeg" alt=" " /> 
  

  <div class="Warning" >
    <h1>Frequently Asked Questions (FAQ)</h1> <br/><br/>
    <h3>Why can't I post book/create buy order?</h3>
    <h4>You can only do these things after you've registered and logged on.</h4> <br/>
    <h3>Where can I find the details about a particular book?</h3>
    <h4>Click book's name, it should take you to a detail page with all the information.</h4> <br/>
    <h3>Where can find buy poster information?</h3>
    <h4>Click on the post, then click the username on the top right corner.</h4> <br/>
    <h3>Are descriptions required when posting a book?</h3>
    <h4>No.</h4> <br/>
    <h3>What's the difference between book-post and buy-order?</h3>
    <h4>Book-post is for books that you want to sell, and buy-order is 
      looking for potential seller for a particular book you want to buy</h4> <br>
  </div>            
</div>