<div class="banner">
  
    <center> <img src="../../assets/images/about.jpeg" alt=" " /> </center>
  

  <div class="Warning">
    <center><h1>Frequently Asked Questions (FAQ)</h1></center> <br/><br/>
    <h3>Why can I not post a book?</h3>
    <h3>Get register first, than you can post a book.</h3> <br/>
    <h3>How can I find more detail about the book?</h3>
    <h3>Click book's name.</h3> <br/>
    <h3>Where can find buy poster information?</h3>
    <h3>Go to buy list page, click username.</h3> <br/>
    <h3>Does the description is required for posting book?</h3>
    <h3>No.</h3> <br/>
    <h3>For review all posted books needs to login?</h3>
    <h3>No.</h3>
  </div>            
</div>