<div class="mainbanner">
    <div class="banner">
        <!-- background image -->
        <div class="w2">
            <!-- navigation -->
            <div class="subnavi">
                <ul class="ul1">
                    <li>
                        <a routerLink="/post">Post a Book<span>&gt;</span></a>
                    </li>
                    <li>
                        <a routerLink="/booklist">Book List<span>&gt;</span></a>
                    </li>
                    <li>
                        <a routerLink="/buyorder">Post a Buy Order<span>&gt;</span></a>
                    </li>
                    <li>
                        <a routerLink="/buylist">Buy Order List<span>&gt;</span></a>
                    </li>
                    <li>
                        <a routerLink="/aboutus">About Us<span>&gt;</span></a>
                    </li>
                    <li>
                        <a routerLink="/commonlyaskedquestions">Commonly Asked Q&A<span>&gt;</span></a>
                    </li>
                </ul>
                <!-- login and signup -->
                <ul class="ul2">
                    <li>
                        <div *ngIf="login === false;else elseBlock;">
                        <a href="/login" class="a1">Login</a>
                        <a href="/register" class="a2">Signup</a>
                        </div>
                        <ng-template #elseBlock>
                            <a class="a2" (click)="logout()">Sign Out</a>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 </div>

    <!-- This is the main post section -->
   <div class="mainpostbg">
    <div class="mainpost">
        <!-- header section -->
        <div class="head">
            <a routerLink="#" class="recent">Recently Posted Books</a>
            <a routerLink="/booklist" class="viewall">View All</a>
        </div>

        <div class="postedbooks">
            <div class="onebook" *ngFor="let book of textbook">
                <div class="bookpic">
                </div>
                <a [routerLink]="['/booklist', book.bookname]" ><h4>{{book["bookname"]}}</h4></a>
                <h5>${{book["price"]}}   Posted By: {{book["by"]}}</h5>
            </div>
        </div>
    </div>
   </div>
