<div class="mainsectionbg">
    <div class="mainsection">
        <br><br><br>
        <div class="outerbox">
            <h3 id="title">Create Your Book Trade Account</h3>
            <form (sumbit) = "onClickSubmit($event)">
                <div class="box1">
                    <div class="profile-pic-div" id="profile-pic-div">
                        <img id="photo" [src] ="urllink" name="pic">
                        <input type="file" name = "file" id="file" (change) = "selectFiles($event)">
                        <br>
                        <label for="file" id="uploadBtn">Choose Photo</label>
                    </div>

                    <br>
                    <input type="text" name="firstName" id="firstName" placeholder="First Name" required>
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name" required>
                    <br><br>
                    <input type="text" name="username" id="username" placeholder="Username" required>
                    <br><br>
                    <input type="password" name="pwd1" id="pwd1" placeholder="Password" required>
                    <input type="password" name="pwd2" id="pwd2" placeholder="ConfirmPassword" required>
                    <br><br>
                    <input type="email" name="emailAddress" id="emailAddress" placeholder="emailAddress" required>
                    <br><br>	
                    <input type="text" name="fsuId" id="fsuId" placeholder="fsuId" required>
                    <br><br>
                    <input type="submit" value="Sign Up">
                </div>
            </form>
        </div>
        <h4 class="message">{{returnMsg}}</h4>
        <br><br><br>
    </div>
</div>