.outerbox{
  width: 700px;
  padding: 10px;
  border: 5px solid gray;
  margin: auto;
  background-color: white;
}
.box1 {
  width: 500px;
  padding: 10px;  
  margin: auto;
  text-align: center;
  background-color: white;
}

.mainsectionbg {
  width: auto;
  height: 450px;
  background-color: #e7dddb;
}

/* main profile section */
.mainsection {
  width: 1400px;
  height: 450px;
  margin: auto;
  background-color: #e7dddb;
}

.message {
  text-align: center;
}

/* Profile Pic upload */
.profilePicDiv{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey
}

#photo{
  height: 100px;
  width: 100px;
  margin: 0;
}

#file{
  display:none;
}

#uploadBtn{
  height:40px;
  width:100%;
  bottom: 0;
  left:50%;
  
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0,0,0,0.7);
  color: wheat;
  line-height: 30px;
  font-family:sans-serif;
  font-size: 15px;
  cursor: pointer;
  
}