<div class="mainsectionbg">
    <div class="mainsection">
        <div class="profilesection">
            <div class="profilepic"></div>
            <div class="profileinfo" *ngFor="let u of user">
                <h2 class="fullname">{{u["firstname"]}} {{u["lastname"]}}</h2>
                <h5 class="fsuid">fsuid: {{u["fsuid"]}}</h5>
                <h3 class="email">Email: {{u["email"]}}</h3>
            </div>
        </div>

        <div class="booksection">
            <div class="onebook" *ngFor="let book of textbook">
                <div class="bookpic">
                </div>
                <a [routerLink]="['/booklist', book.bookname]" ><h4>{{book["bookname"]}}</h4></a>
                <h5>${{book["price"]}}</h5>
            </div>
        </div>
    </div>
</div>