<div class="mainsectionbg">
    <div class="mainsection">
        <div *ngIf="login === false;else elseBlock;">
            <h1>Please Login First!</h1>
        </div>
        <ng-template #elseBlock>
            <div class="profilesection">
                <div class="profilepic"></div>
                <div class="for" *ngFor="let u of user">
                    <div class="profileinfo" *ngIf="usern===u.username">
                        <h2 class="fullname">{{u["firstname"]}} {{u["lastname"]}}</h2>
                        <h5 class="fsuid">fsuid: {{u["fsuid"]}}</h5>
                        <h3 class="email">Email: {{u["email"]}}</h3>
                        <div class="passsection">
                            <button (click)="changePassword()">Change Password</button>
                            <div class="showchange" *ngIf="showpass===true">
                                <form (submit)="userChangePass($event)">
                                    <input type="password" name = "oldPass" placeholder=" Enter Old Password" id="oldpassword" class="oldpass" required>
                                    <input type="password" name = "Pass1" placeholder=" Enter Password" id="password1" class="pass1" required>
                                    <input type="password" name = "Pass2" placeholder=" Confirm Password" id="password2" class="pass2" required>
                                    <input type="submit" value="Submit" class="submit">
                                </form>
                            </div>
                            <h4>{{returnMsg}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button (click)="postedBooks()">Show Booklist/Buy Orders</button>
            </div>
            
            <div class="show" *ngIf="showbooklist===true">
                <div class="title">
                    <h3>Booklist</h3>
                </div>
                <div class="booksection">
                    <div class="for2" *ngFor="let book of textbook2 | slice:initial:final">
                        <div class="onebook" >
                            <div class="bookpic">
                            </div>
                            <a [routerLink]="['/booklist', book.bookname]" ><h4>{{book["bookname"]}}</h4></a>
                            <h5>${{book["price"]}}</h5>
                        </div>
                    </div>
                </div>
                <div class="mainpagination">
                    <div class="pagination">
                        <a>&laquo;</a>
                        
                        <a *ngFor="let pg of pageNums" (click)="pageChange(pg)">
                            {{pg+1}}
                        </a>
                        <a>&raquo;</a>
                    </div>
                </div>
            </div>

            <!-- implemented later when buy order page is finished -->
            <div class="show" *ngIf="showbuyorder===true">
                <div class="title">
                    <h3>Buy Orders</h3>
                </div>
                <div class="booksection">
                    <div class="for2" *ngFor="let book of buyorders2 | slice:initial:final">
                        <div class="onebook" >
                            <h3>{{book["bookname"]}}</h3>
                            <h4>Author: {{book["author"]}}</h4>
                            <h4>Condition: {{book["stat"]}}</h4>
                            <h4>Asked for ${{book["price"]}}</h4>
                            <h5>{{book["college"]}}</h5>
                            <div class="buttonsbuy">
                                <button (click)="deleteBuyOrder(book.bookname)">Delete Buy Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mainpagination">
                    <div class="pagination">
                        <a>&laquo;</a>
                        
                        <a *ngFor="let pg of pageNums2" (click)="pageChangeBuy(pg)">
                            {{pg+1}}
                        </a>
                        <a>&raquo;</a>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>