<div class="banner">
    <div class="book">
        <img src="../../assets/images/books2.jpg" alt=" " style="width:71.5%"/>
    </div>

    <div class="inputs" style="text-align: center;">
<!--           <form (submit)="postService($event)">   --> 
            <form (submit)="logForm($event)">           
            <br/> <br/>
            <br>Book Name: <input type="text" name = "BookName" id="BookName"><br>
            <br>Author: <input type="text" name = "Author" id="Author"><br>
            <br>Price: $ <input type="number" name = "Price" min="0.00" max="500.00" step="0.01" id="Price"><br>
            <br><label for="status">Choose Condition:</label>
            <select name="status" id="status" >
                <option value="New">New</option>
                <option value="LikeNew">Like new</option>
                <option value="Good">Good</option>
                <option value="Fair">Fair</option>
                <option value="Poor">Poor</option>
            </select><br>
            <br><label for="category">Choose College Belong To:</label>
            <select name="college" id="college">
                <option value="College of Arts and Sciences">College of Arts and Sciences</option>
                <option value="College of Business">College of Business</option>
                <option value="College of Communication & Information">College of Communication & Information</option>
                <option value="College of Criminology and Criminal Justice">College of Criminology and Criminal Justice</option>
                <option value="College of Education">College of Education</option>
                <option value="College of Engineering">College of Engineering</option>
                <option value="College of Fine Arts">College of Fine Arts</option>
                <option value="College of Human Sciences">College of Human Sciences</option>
                <option value="College of Law">College of Law</option>
                <option value="College of Medicine">College of Medicine</option>
                <option value="College of Motion Picture Arts">College of Motion Picture Arts</option>
                <option value="College of Music">College of Music</option>
                <option value="College of Nursing">College of Nursing</option>
                <option value="College of Social Sciences and Public Policy">College of Social Sciences and Public Policy</option>
                <option value="College of Social Work">College of Social Work</option>
                <option value="Dedman College of Hospitality">Dedman College of Hospitality</option>
                <option value="Jim Moran College of Entrepreneurship">Jim Moran College of Entrepreneurship</option>
            </select><br>
            <br>
            Picture: <input type="file" name = "file" id="file" (change) = "onFileSelected($event)">
            <br><br>
            <label for="file" id="uploadBtn"></label>
            <label for="description">Description:</label>
            <br/>
            <textarea matInput placeholder=" Enter note here..." rows="8" cols="100" name="Description" id="Description"></textarea>                    
            <br/> <br/>
            <input type="submit" value="Submit" class="submit">                  
        </form>
    </div>            
</div>
