<div class="mainfooter">
    <div class="footer">
        <div class="info">
            <!-- logo -->
            <div class="logo2">
                <img src="../../assets/images/logo2.png" alt="">
            </div>
            <!-- copyright section -->
            <div class="copyright">
                <img src="../../assets/images/copyright.png" alt="">
                <h6>2021 CEN4090L Group 5</h6>
            </div>
            <!-- nav in the footer -->
            <div class="footernavi">
                <a routerLink="/contact">Contact Us</a>
                <a routerLink="/commonlyaskedquestions">Commonly Asked Q&A</a>
            </div>
        </div>
    </div>
</div>
