* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.mainfooter {
  width: auto;
  height: 131px;
  background-color: #7e3644;
}

/* footer section */
.footer {
  width: 1400px;
  height: 130px;
  margin: auto;
  background-color: #7e3644;
}

.footer .info {
  margin: 0 200px;
}

/* logo section */
.footer .info .logo2 img {
  float: left;
  margin-left: 20px;
  margin-top: 30px;
}

/* copyright section */
.footer .info .copyright {
  float: left;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 50px;
}

/* copyright image */
.footer .info .copyright img {
  display: inline;
}

/* CEN4020L group5 */
.footer .info .copyright h6 {
  display: inline;
}

/* nav in the footer */
.footer .info .footernavi {
  padding: 60px 0;
}

.footer .info .footernavi a {
  margin: 0 30px;
  color: #000000;
}

.footer .info .footernavi a:hover {
  color: blue;
}
