<div class="bg" style="margin: 0px; padding: 0px;">
    <div class="title">
        <div class="loginlogo"></div>
    </div>
    <div class="loginsection">
        <div class="logintitle">
            <h3>Login to FSU Book Trade</h3>
            <form (submit)="userLogin($event)">
                <div style="text-align: center;" *ngIf="returnMsg!==''">
                    <h4>{{returnMsg}}</h4>
                </div>
                <input type="text" name = "User" placeholder=" Enter Username" id="username" class="user" required>
                <input type="password" name = "Pass" placeholder=" Enter Password" id="password" class="pass" required>
                <input type="checkbox" class="check" id="keeplogin">
                <label style="color:rgb(65, 65, 65);font-size:15px;" for="check">Keep me login for 30 days</label>
                <a class="forgot">Forgot Password</a>
                <input type="submit" value="Login" class="submit">

            </form>
            <h3 class="newuser">New to our website? <a href="createAccPage">Signup</a></h3>
        </div>
    </div>
</div>
