
<!-- This is the header section -->
<div class="mainheader">
    <div class="header w">
        <!-- logo -->
        <div class="logo">
            <a href="/"><img src="../../assets/images/logo2.png" alt=""></a>
        </div>

        <!-- search box -->
        <div class="search" >
            <form (submit)="listSearch($event)" id="searchForm">
                <input type="text" name = "key" id="key" placeholder=" Search for a textbook">
                <!--routerLink="/booklist" (click)="listSearch()"-->
            </form>
            <button type="submit" form="searchForm" routerLink="/booklist"></button>
        </div>

        <!-- profile photo and name -->
        <div class="profile">
            <img src="../../assets/images/profilepic.png" alt="">
            <h5>{{username}}</h5> 
        </div>
    </div>
</div>