
<!-- This is the header section -->
<div class="mainheader">
    <div class="header w">
        <!-- logo -->
        <div class="logo">
            <a href="/"><img src="../../assets/images/logo2.png" alt=""></a>
        </div>

        <!-- search box -->
        <div class="search">
            <form action="/booklist" method = "POST">
                <input type="text" name = "keywords" placeholder=" Search for a textbook">
                <button></button>
            </form>
        </div>

        <!-- profile photo and name -->
        <div class="profile">
            <img src="../../assets/images/profilepic.png" alt="">
            <!-- <h5>{{user}}</h5> -->
        </div>
    </div>
</div>