
<div class="banner" style="text-align: center;">
  
     <img src="../../assets/images/about.jpeg" alt=" " /> 
  

  <div class="Warning">
    <p><b>
      Welcome to our FSU Book Trading website! 
      This website was started by the members of Team 5 in the CEN4020L class, 
      and it’s main goal is to be a centralized hub for FSU students to be able
      to trade used class textbooks without much hassle. A quick rundown of what 
      our website has to offer is that it allows students the ability to easily: 
      make an account, set the price of the book, and then trade the book to whomever
      wants it at the click of a button. We hope you have a great experience with our 
      website!
    </b></p>
  </div>            
</div>