* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.banner{
  width: 1400px;
  height: 800px;
  margin: auto;
  background-color: #e7dddb;
}

.banner img {
  opacity: 0.3;
  height: 800px;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.banner .Warning{
  height: 100px;
  margin:auto;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.banner .inputs{
  height: 500px;
  margin:auto;
  width: 1000px;
}

p{
  text-indent: 50px;
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 3px;
  color: rgba(5, 5, 5, 0.925)
}

button{
  color: seagreen;
}
