/* clear all formatting */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.mainbooks {
  width: 1400px;
  height: 1100px;
  background-color: #e7dddb;
}

.books {
  width: 1000px;
  height: 1100px;
  margin: auto;
  background-color: #e7dddb;
}

.mainbooks .books .heading {
  height: 80px;
  width: auto;
  padding-top: 15px;
}

.mainbooks .books .heading .btn {
  margin: 0 70px;
}

.mainbooks .books .heading .btn .tag {
  float: left;
  width: 60px;
  height: 22px;
  line-height: 22px;
  margin-right: 220px;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #7e3644;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  border-width: 2px;
}

.mainbooks .books .heading .btn2 {
  margin-left: 70px;
}

.mainbooks .books .heading .btn2 .sort {
  display: inline;
  float: left;
  width: 190px;
  height: 15px;
  margin-right: 90px;
  margin-top: 20px;
}

.mainbooks .books .heading .btn2 .subject {
  display: inline;
  float: left;
  width: 190px;
  height: 15px;
  margin-right: 90px;
  margin-top: 20px;
}

.mainbooks .books .heading .btn2 .status {
  display: inline;
  float: left;
  width: 150px;
  height: 15px;
  margin-top: 20px;
}

.mainbooks .books .listingbooks {
  height: 900px;
  margin: 20px 50px;
  border-style: dotted;
  border-radius: 2px;
  border-color: #000000;
}

.mainbooks .books .listingbooks .onebook {
  float: left;
  height: 215px;
  width: 213.5px;
  padding: 5px 5px;
}

.mainbooks .books .listingbooks .onebook a h4 {
  margin: 20px 0;
  color: #000000;
}

.mainbooks .books .mainpagination {
  height: 34px;
  margin: 0 50px;
}

.mainbooks .books .mainpagination .pagination {
  display: inline-block;
  float: right;
}

.mainbooks .books .mainpagination .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.mainbooks .books .mainpagination .pagination a.active {
  background-color: #7e3644;
  color: white;
  border-radius: 5px;
}

.mainbooks .books .mainpagination .pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.mainbooks .books .onebook a h4:hover {
  text-decoration: underline;
  color: #7e3644;
}
