/* clear all formatting */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.mainheader {
  width: auto;
  height: 72px;
  background-color: #ceb888;
}
/* set the width and color of the header */
/* margin is set to auto for the sections to display 
  in the middle of the page */
.w {
  width: 1400px;
  margin: auto;
  background-color: #ceb888;
}

/* set the height of the header */
.header {
  height: 72px;
  margin: auto;
}

/* set the position of the logo */
.logo {
  float: left;
  width: 74px;
  height: 72px;
  margin-left: 250px;
  margin-right: 130px;
}

/* set the size and position of the search box and search logo */
.search {
  float: left;
  width: 412px;
  height: 42px;
  margin-left: 15px;
  margin-right: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* set the size and position of search box itself */
.header .search input {
  float: left;
  display: block;
  width: 345px;
  height: 40px;
  border-style: solid;
  border-color: #000000;
  border-right: none;
  border-width: 1px;
  color: #bfbfbf;
  font-size: 14px;
  padding-left: 15px;
}

/* set the position and size of the search logo button */
.search button {
  float: left;
  width: 50px;
  height: 44px;
  border-style: solid;
  border-color: #000000;
  border-left: none;
  border-width: 1px;
  background: url(images/fa-search.jpg);
}

/* profile section */
.profile {
  float: left;
  width: 117px;
  height: 30px;
  margin-right: 30px;
  padding-top: 15px;
  padding-bottom: 21px;
  padding-left: 30px;
}

/* profile photo */
.profile img {
  float: left;
  padding: 6px;
}

/* username */
.profile h5 {
  float: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
  color: #666666;
  height: 42px;
}

.mainbooks {
  width: auto;
  height: 1100px;
  background-color: #e7dddb;
}

.books {
  width: 1000px;
  height: 1100px;
  margin: auto;
  background-color: #e7dddb;
}

.mainbooks .books .heading {
  height: 80px;
  width: auto;
  padding-top: 15px;
}

.mainbooks .books .heading .btn {
  margin: 0 70px;
}

.mainbooks .books .heading .btn .tag {
  float: left;
  width: 60px;
  height: 22px;
  line-height: 22px;
  margin-right: 350px;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #7e3644;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  border-width: 2px;
  /* box-shadow: tomato; */
}

.mainbooks .books .heading .btn2 {
  margin-left: 70px;
}

.mainbooks .books .heading .btn2 .sort {
  display: inline;
  float: left;
  width: 190px;
  height: 15px;
  margin-right: 225px;
  margin-top: 20px;
}

.mainbooks .books .heading .btn2 .subject {
  display: inline;
  float: left;
  width: 190px;
  height: 15px;
  margin-right: 200px;
  margin-top: 20px;
}

.mainbooks .books .listingbooks {
  height: 900px;
  margin: 20px 50px;
  border-style: dotted;
  border-radius: 2px;
  border-color: #000000;
}

.mainbooks .books .listingbooks .onebook {
  float: left;
  height: 215px;
  width: 213.5px;
  padding: 5px 5px;
}

.mainbooks .books .listingbooks .onebook .bookpic {
  height: 125px;
  width: 214px;
  background: url(images/tempbook.jpg);
}

.mainbooks .books .listingbooks .onebook a h4 {
  margin: 20px 0;
  color: #000000;
}

.mainbooks .books .mainpagination {
  height: 34px;
  margin: 0 50px;
}

.mainbooks .books .mainpagination .pagination {
  display: inline-block;
  float: right;
}

.mainbooks .books .mainpagination .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.mainbooks .books .mainpagination .pagination a.active {
  background-color: #7e3644;
  color: white;
  border-radius: 5px;
}

.mainbooks .books .mainpagination .pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.mainbooks .books .onebook a h4:hover {
  text-decoration: underline;
  color: #7e3644;
}

.mainfooter {
  width: auto;
  height: 131px;
  background-color: #7e3644;
}

/* footer section */
.footer {
  width: 1400px;
  height: 130px;
  margin: auto;
  background-color: #7e3644;
}

.footer .info {
  margin: 0 200px;
}

/* logo section */
.footer .info .logo2 img {
  float: left;
  margin-left: 20px;
  margin-top: 30px;
}

/* copyright section */
.footer .info .copyright {
  float: left;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 50px;
}

/* copyright image */
.footer .info .copyright img {
  display: inline;
}

/* CEN4020L group5 */
.footer .info .copyright h6 {
  display: inline;
}

/* nav in the footer */
.footer .info .footernavi {
  padding: 60px 0;
}

.footer .info .footernavi a {
  margin: 0 30px;
  color: #000000;
}

.footer .info .footernavi a:hover {
  color: blue;
}
