<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bookliststyle.css') }}">
</head>
<body>
    {% extends "design_temp.html" %}
    {% block content %}
    <div class="mainbooks">
        <div class="books">
            <div class="heading">
                <div class="btn">b/
                    <div class="tag">Sort By</div>
                    <div class="tag">Subjects</div>
                </div>
                <div class="btn2">
                    <div class="sort">
                        <button type="button" class="sortbutton" onclick="sortRecent()">Recently Posted</button>
                        <button type="button" class="sortbutton" onclick="sortRecent()">Alphabetically</button>
                        <button type="button" class="sortbutton" onclick="sortRecent()">Price</button>
                    </div>
                    <div class="subject">
                        <!-- list popular subjects -->
                        <button type="button" class="subbutton1" onclick="sortSub()">temp</button>
                        <!-- click on more for all subjects (scroll down menu) -->
                        <button type="button" class="subbutton2" onclick="sortSub()">More</button>
                    </div>
                </div>
            </div>

            <!-- This should be put into a for loop to display all books -->
            <div class="listingbooks">

                {% for bk in bklist %}
                <div class="onebook">
                    <div class="bookpic">
                    </div>
                    <a href="#" ><h4>{{bk["bookname"]}}</h4></a>
                    <h5>${{bk["price"]}}&nbsp &nbsp Posted By: {{bk["by"]}}</h5>
                </div>
                {% endfor %}
            </div>
            
            <div class="mainpagination">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>

{% endblock content %}

<!-- This is a temp section just for place holder. Will be replaced by JS later. -->
    <script>
        function sortrecent() {
          
        }
        function sortAlpha() {

        }
        function sortSub() {

        }
        </script>
</body>
</html>