/* clear all formatting */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.mainheader {
  width: auto;
  height: 72px;
  background-color: #ceb888;
}
/* set the width and color of the header */
/* margin is set to auto for the sections to display 
  in the middle of the page */
.w {
  width: 1400px;
  margin: auto;
  background-color: #ceb888;
}

/* set the height of the header */
.header {
  height: 72px;
  margin: auto;
}

/* set the position of the logo */
.logo {
  float: left;
  width: 74px;
  height: 72px;
  margin-left: 250px;
  margin-right: 130px;
}

/* set the size and position of the search box and search logo */
.search {
  float: left;
  width: 412px;
  height: 42px;
  margin-left: 15px;
  margin-right: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* set the size and position of search box itself */
.header .search input {
  float: left;
  display: block;
  width: 345px;
  height: 40px;
  border-style: solid;
  border-color: #000000;
  border-right: none;
  border-width: 1px;
  color: #bfbfbf;
  font-size: 14px;
  padding-left: 15px;
}

/* set the position and size of the search logo button */
.search button {
  float: left;
  width: 50px;
  height: 44px;
  border-style: solid;
  border-color: #000000;
  border-left: none;
  border-width: 1px;
  background: url(images/fa-search.jpg);
}

/* profile section */
.profile {
  float: left;
  width: 117px;
  height: 30px;
  margin-right: 30px;
  padding-top: 15px;
  padding-bottom: 21px;
  padding-left: 30px;
}

/* profile photo */
.profile img {
  float: left;
  padding: 6px;
}

/* username */
.profile h5 {
  float: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
  color: #666666;
  height: 42px;
}

.mainbooks {
  width: auto;
  height: 1100px;
  background-color: #e7dddb;
}

.books {
  width: 1000px;
  height: 1100px;
  margin: auto;
  background-color: #e7dddb;
}

.mainbooks .books .heading {
  height: 80px;
  width: auto;
}

.mainbooks .books .heading .btn {
  margin: 0 20px;
}

.mainbooks .books .heading .btn .sorttag {
  width: 10px;
  height: 5px;
  font-size: 14px;
  color: white;
  background-color: blue;
  border-style: solid;
  border-color: #000000;
  box-shadow: tomato;
}
