<!DOCTYPE html>
<html lang="en">
	<head>
		<script>
			// Function to check whether password1 and 
			// password2 are the same. 
            function checkPassword(form) { 
                password1 = form.pwd1.value; 
                password2 = form.pwd2.value; 
  
                if (password1 == '') 
                    alert ("Please enter Password");  
                else if (password2 == '') 
                    alert ("Please enter Confirm password"); 
                else if (password1 != password2) { 
                    alert ("Passwords do not match: Please try again...") 
                    return false; 
                } 
                else 
                    return true; 
            } 
		</script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatibl" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Create Account</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='createAccount.css') }}">
	</head>
	<body>
		{% extends "design_temp.html" %}
		{% block content %}
		<br><br><br>
		<form action= "{{ url_for('createAcc') }}" method = "POST" class="form1">
			<div class="box1">	
				<h3>Create Your Book Trade Account<h3><br><br>
			
				<input type="text" name="firstName" id="firstName" placeholder="First Name">
				<input type="text" name="lastName" id="lastName" placeholder="Last Name"><br><br>
				<input type="text" name="username" id="username" placeholder="Username"><br><br>
				<input type="password" name="pwd1" id="pwd1" placeholder="Password">
				<input type="password" name="pwd2" id="pwd2" placeholder="ConfirmPassword"><br><br>
				<input type="email" name="emailAddress" id="emailAddress" placeholder="emailAddress"><br><br>	
				<input type="text" name="fsuId" id="fsuId" placeholder="fsuId"><br><br>
				<input type="submit" value="Submit">
			</div>
		</form>
		<br><br><br>
		{% endblock content %}
	</body>
</html>
