
<!-- This is the header section -->
<div class="mainheader">
    <div class="header w">
        <!-- logo -->
        <div class="logo">
            <a href="/"><img src="templates/images/logo2.png" alt=""></a>
        </div>

        <!-- search box -->
        <div class="search">
            <input type="text" placeholder=" Search for a textbook">
            <button></button>
        </div>

        <!-- profile photo and name -->
        <div class="profile">
            <img src="templates/images/profilepic.png" alt="">
            <h5>{{user}}</h5>
        </div>
    </div>
</div>

{% block content %}{% endblock %}

        <!-- This is the footer section -->
</div>

<div class="mainfooter">
<div class="footer">
    <div class="info">
        <!-- logo -->
        <div class="logo2">
            <img src="templates/images/logo2.png" alt="">
        </div>
        <!-- copyright section -->
        <div class="copyright">
            <img src="templates/images/copyright.png" alt="">
            <h6>2021 CEN4020L Group 5</h6>
        </div>
        <!-- nav in the footer -->
        <div class="footernavi">
            <a href="#">Contact Us</a>
            <a href="#">Commonly Asked Q&A</a>
        </div>
    </div>
</div>
</div>