<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- import style.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- This is the header section -->
    <div class="header w">
        <!-- logo -->
        <div class="logo">
            <img src="templates/images/logo2.png" alt="">
        </div>

        <!-- search box -->
        <div class="search">
            <input type="text" placeholder=" Search for a textbook">
            <button></button>
        </div>

        <!-- profile photo and name -->
        <div class="profile">
            <img src="templates/images/profilepic.png" alt="">
            <h5>{{user}}</h5>
        </div>
    </div>
    <div class="banner">
        <!-- background image -->
        <div class="w2">
            <!-- navigation -->
            <div class="subnavi">
                <ul class="ul1">
                    <li>
                        <a href="#">Post a Book<span>&gt;</span></a>
                    </li>
                    <li>
                        <a href="#">Book List<span>&gt;</span></a>
                    </li>
                    <li>
                        <a href="#">About Us<span>&gt;</span></a>
                    </li>
                    <li>
                        <a href="#">Commonly Asked Q&A<span>&gt;</span></a>
                    </li>
                </ul>
                <!-- login and signup -->
                <ul class="ul2">
                    <li>
                        {% if user == "offline" %}
                        <a href="{{ url_for('login') }}" class="a1">Login</a>
                        <a href="#" class="a2">Signup</a>
                        {% else %}
                        <a href="signout" class="a2">Sign Out</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- This is the main post section -->
    <div class="mainpost">
        <!-- header section -->
        <div class="head">
            <a href="#" class="recent">Recently Posted Books</a>
            <a href="#" class="viewall">View All</a>
        </div>

        <!-- book section -->
        <div class="postedbooks">

        </div>
    </div>

    <!-- This is the footer section -->
    <div class="footer">
        <div class="info">
            <!-- logo -->
            <div class="logo2">
                <img src="templates/images/logo2.png" alt="">
            </div>
            <!-- copyright section -->
            <div class="copyright">
                <img src="templates/images/copyright.png" alt="">
                <h6>2021 CEN4020L Group 5</h6>
            </div>
            <!-- nav in the footer -->
            <div class="footernavi">
                <a href="#">Contact Us</a>
                <a href="#">Commonly Asked Q&A</a>
            </div>
        </div>
    </div>
</body>

</html>