<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- import style.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% extends "design_temp.html" %}
    {% block content %}
 <div class="mainbanner">
    <div class="banner">
        <!-- background image -->
        <div class="w2">
            <!-- navigation -->
            <div class="subnavi">
                <ul class="ul1">
                    <li>
                        <a href="/post">Post a Book<span>&gt;</span></a>
                    </li>
                    <li>
                        <a href="/booklist">Book List<span>&gt;</span></a>
                    </li>
                    <li>
                        <a href="#">About Us<span>&gt;</span></a>
                    </li>
                    <li>
                        <a href="#">Commonly Asked Q&A<span>&gt;</span></a>
                    </li>
                </ul>
                <!-- login and signup -->
                <ul class="ul2">
                    <li>
                        {% if user == "offline" %}
                        <a href="{{ url_for('login') }}" class="a1">Login</a>
                        <a href="createAccPage" class="a2">Signup</a>
                        {% else %}
                        <a href="signout" class="a2">Sign Out</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
 </div>

    <!-- This is the main post section -->
   <div class="mainpostbg">
    <div class="mainpost">
        <!-- header section -->
        <div class="head">
            <a href="#" class="recent">Recently Posted Books</a>
            <a href="/booklist.html" class="viewall">View All</a>
        </div>

        <!-- book section -->
        <div class="postedbooks">
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
            <div class="onebook">
                <div class="bookpic">

                </div>
                <a href="#" ><h4>Title Here</h4></a>
                <h6>Price Here</h6>
            </div>
        </div>
    </div>
   </div>

   {% endblock content %}
</body>

</html>
