<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- import loginstyle.css -->
    <link rel="stylesheet" href="loginstyle.css">
</head>

<body>
    <div class="bg">
        <div class="title">
            <div class="loginlogo"></div>

        </div>

        <div class="loginsection">
            <div class="logintitle">
                <h3>Login to FSU Book Trade</h3>
                <form action="" id="loginform">
                    <input type="text" placeholder=" Enter Username" class="user" required>
                    <input type="password" placeholder=" Enter Password" class="pass" required>
                    <input type="checkbox" class="check" id="check"><label for="check">Keep me login for 30 days</label>
                    <a href="#" class="forgot">Forgot Password</a>
                    <input type="submit" value="Login" class="submit">
                </form>
                <h3 class="newuser">New to our website? <a href="#">Signup</a></h3>
            </div>
        </div>
    </div>
</body>

</html>