<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='post.css') }}">
        <title>Post Webpage</title>
        <mete name="viewport" content="width=device-width, initial-scale=1">
        <style>
            input{
                border: 2px solid black;
            }
            select{
                border: 2px solid  black;
            }
            textarea{
                border: 2px solid black;
            }
        </style> 
    </head>
    <body>
        {% extends "design_temp.html" %}
        {% block content %}

        <div class="banner">

            <div class="book">
                <img src="templates/images/books2.jpg" alt=" " style="width:71.5%"/>
            </div>

            <div class="Warning">
                <p><br/><b>Warning: </b>This website does not guarantee the accuracy, 
                    completeness, validity, timeliness, and legality of articles, 
                    information, pictures, materials, etc. posted by all users on 
                    this website. Please make your own judgment based on the situation. 
                    The user is responsible for the losses caused by misleading reading 
                    of the contents of this edition and other factors. This site has no 
                    responsibility.</p>
                <br/>
            </div>
            
            <div class="inputs">
                <form>
                    <br/>
                    <br/>
                    <br>Book Name: <input type="text" name = "Book Name" required="required"/></br>
                    <br>Price: <input type="text" name = "Price" required="required"/></br>
                    <br><label for="status">Choose Status:</label>
                    <select name="status" id="status" required="required">
                        <option value="new">New</option>
                        <option value="likeNew">Like new</option>
                        <option value="good">Good</option>
                        <option value="fair">Fair</option>
                    </select></br>
                    <br><label for="category">Choose Category:</label>
                    <select name="category" id="category" required="required">
                        <option value="artS">College of Arts and Sciences</option>
                        <option value="business">College of Business</option>
                        <option value="conmmunicationI">College of Communication & Information</option>
                        <option value="criminologyCJ">College of Criminology and Criminal Justice</option>
                        <option value="education">College of Education</option>
                        <option value="engineering">College of Engineering</option>
                        <option value="fineA">College of Fine Arts</option>
                        <option value="humanS">College of Human Sciences</option>
                        <option value="law">College of Law</option>
                        <option value="medicine">College of Medicine</option>
                        <option value="motionPA">College of Motion Picture Arts</option>
                        <option value="music">College of Music</option>
                        <option value="nursing">College of Nursing</option>
                        <option value="socialSPP">College of Social Sciences and Public Policy</option>
                        <option value="socialW">College of Social Work</option>
                        <option value="dedmanCH">Dedman College of Hospitality</option>
                        <option value="jimMCE">Jim Moran College of Entrepreneurship</option>
                    </select></br>
                    <br>Picture: <input type="file" required="required"/></br>
                    <br/>
                    <label for="description">Description:</label>
                    <br/>
                    <textarea id="description" name="description" rows="8" cols="100"></textarea>
                    <br/>
                    <button>Submit</button>
                </form>
            </div>
            
        </div>

        {% endblock content %}

    </body>
</html>


