<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/post.css">
        <title>Post Webpage</title>
        <mete name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <img src="3.png" alt="books photo"/>
        <p><b>Warning: </b>This website does not guarantee the accuracy, 
            completeness, validity, timeliness, and legality of articles, 
            information, pictures, materials, etc. posted by all users on 
            this website. Please make your own judgment based on the situation. 
            The user is responsible for the losses caused by misleading reading 
            of the contents of this edition and other factors. This site has no 
            responsibility.</p>
        <br/>

        <form>
            <br>Book Name: <input type="text" name = "Book Name"/></br>
            <br>Price: <input type="text" name = "Price"/></br>
            <br>Status: <input type="text" name = "Status"/></br>
            <br>Category: <input type="text" name = "Category"/></br>
            <br>Picture: <input type="file"/></br>
            <br/>
            Description:<br>
            <textarea roows = "80" cols = "100" ></textarea></br>
            <br/>
            <button>Submit</button>
        </form>
        
    </body>
</html>


