<div class="mainsectionbd">
    <div class="mainsection">
        <div class="for" *ngFor="let book of textbook">
            <div class="booksection"*ngIf="tbook===book.bookname">
                <div class="bookdetail" *ngIf="currentUsername===book.by;else elseBlock;">
                    <!--This is the portion where user has permission to modify the book-->
                    <div class="bookpic"></div>
                    <div class="bookinfo">
                        <form action="">
                        <div class="booktitle">
                            <h4>{{book["bookname"]}}</h4>
                        </div>
                        <div class="authorandpost">
                            <h6>By: {{book["author"]}} &nbsp; &nbsp; | &nbsp; &nbsp; Posted By: <a [routerLink]="['/profile', book.by]"> {{book["by"]}} </a></h6>
                        </div>
                        <div class="college">
                            <p>College: {{book["college"]}}</p>
                        </div>
                        <div class="status">
                            <p>Status: {{book["stat"]}}</p>
                        </div>
                        <div class="price">
                            Price: $<p contenteditable="true" id="priceUpdate">{{book["price"]}}</p><br>
                            <button (click)="changePrice(book.id)">Change Price</button>
                        </div>
                        <button (click)="deletePost(book.id)">Delete Post</button>
                    </form>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="bookdetail">
                        <div class="bookpic"></div>
                    <div class="bookinfo">
                        <div class="booktitle">
                            <h4>{{book["bookname"]}}</h4>
                        </div>
                        <div class="authorandpost">
                            <h6>By: {{book["author"]}} &nbsp; &nbsp; | &nbsp; &nbsp; Posted By: <a [routerLink]="['/profile', book.by]"> {{book["by"]}} </a></h6>
                        </div>
                        <div class="college">
                            <p>College: {{book["college"]}}</p>
                        </div>
                        <div class="status">
                            <p>Status: {{book["stat"]}}</p>
                        </div>
                        <div class="price">
                            Price: <p class="pricep">${{book["price"]}}</p>
                        </div>
                    </div>
                    </div>
                </ng-template>
                    <div class="desbox" *ngIf="currentUsername===book.by;else elseBlock2;">
                        Description: <p class="desboxp" contenteditable="true" id="desUpdate">{{book["description"]}}</p>
                        <button (click)="editDes(book.id)">Edit Description</button>
                    </div>
                
                    <ng-template #elseBlock2>
                        <div class="desbox">
                            Description: <p class="desboxp">{{book["description"]}}</p>
                        </div>
                    </ng-template>
                
            </div>
        </div>
    </div>
</div>